# Fichiers de données binaires (outputs générés)
*.parquet

# Environnements virtuels Python
.venv/
venv/
env/
ENV/

# Fichiers Python compilés / optimisés
__pycache__/
*.py[cod]
*$py.class
*.so

# Fichiers de distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Fichiers d'environnement et secrets
.env
.env.local
*.key
*.pem

# Fichiers de logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Éditeurs / IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Fichiers temporaires
*.tmp
.cache/

# Fichier pdf
*.pdf

# Fichiers de configuration sensibles
*.json
*.tf
*.txt

# Dossiers à ignorer
/Terraform
/notes
/Kestra